# AWS認証情報ファイルの例
# このファイルをコピーして aws-credentials を作成し、実際の値を設定してください
# または、AWS CLIの `aws configure` コマンドを使用してください

[default]
aws_access_key_id = YOUR_ACCESS_KEY_ID
aws_secret_access_key = YOUR_SECRET_ACCESS_KEY

# 注意: aws-credentials は .gitignore に含まれています
# Gitにコミットしないでください




